.homepage {
  width: 400px;
  height: 400px;
  padding: 2rem;
  background-color: #1d2025;
  opacity: 0.9;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 5px;
  input {
    height: 50px;
    width: 80%;
    background-color: #404450;
    border: none;
    padding-left: 1rem;
    opacity:1;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
  .button {
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 200px;
    border: none;
    background-color: #4dce2d;
    border-radius: 5px;

    color: black;
    &:hover {
      cursor: pointer;
    }
  }
}
